<mat-toolbar class="footer d-grid">
    <div class="d-flex flex-row">
        <div class="p-2">Sitemap</div>
        <div class="p-2">Feedback</div>
        <div class="p-2">Privacy Policies</div>
        <div class="p-2">Hyperlink Policies</div>
        <div class="p-2">Accessiblity Statement</div>
        <div class="p-2">Browser Support</div>
    </div>
    <hr>
    <div class="footer-subtext d-grid">
        <span>Last Updated on : 12-Jan-2022</span>
        <span>This site is best viewed in 1024 * 768 resolution with latest version of Chrome, Firefox, Safari and Internet Explorer </span>
        <span>&copy; Content Owned, updated and Maintained by Ministry of Environmental,Forest and Climate Change, Government of India</span>
    </div>
</mat-toolbar>