.footer {
    height: 120px;
    font-size: 13px;
    background-color: #005457;
    color: #fff;

    hr {
        margin: 0;
    }

    .footer-subtext {
        margin-bottom: 12px;
        font-size: 11px;
        span {
            margin-bottom: -13px;
        }
    }
}