<div class="header-bar">
    <mat-toolbar class="header">
        <div>
            <img src="./assets/images/india-flag.png" height="32" width="30">
        </div>
        <div class="header-1 d-grid">
            <span class="hindi-text">भारत सरकार</span>
            <span>Government of India</span>
        </div>
        <div class="vl"></div>
        <div class="header-2 d-grid">
            <span class="hindi-text">पर्यावरण,वन और जलवायु परिवर्तन मंत्रालय</span>
            <span>Ministry of Environment, Forest and Climate Change</span>
        </div>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <mat-toolbar class="sub-header">
        <div>
            <mat-icon class="emblem" svgIcon="emblem-india"></mat-icon>
        </div>
        <div class="header-1 d-grid">
            <span class="hindi-text">परिवेश</span>
            <div class="hl"></div>
            <span>PARIVESH</span>
            <span class="full-form">"Pro Active and Responsive facilitation by Interactive and Virtuous Environmental
                Singlewindow Hub"</span>
        </div>
        <span class="example-spacer"></span>
        <img src="./assets/images/azadi1.png" alt="" height="60" width="72">
        <img src="./assets/images/emb5.png" alt="" height="60" width="72">
    </mat-toolbar>
    <nav aria-label="breadcrumb" class="bread-crumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Know Your Approval</li>
        </ol>
    </nav>
</div>