.header {
    height: 35px;
    background-color: #009B491A;
}
.sub-header {
    height: 80px;
    background-color: #009B49;
    padding-left: 5px;
    box-shadow: 4px 4px 32px #00000040;
    color: #fff;

    .emblem {
        height: 72px;
        width: 42px;
    }

    .header-1 {
        span {
            font-size: 16px !important;
        }
        .hl {
            border-bottom: 1px solid;
            margin-top: 13px;
            width: 48px;
        }
        .full-form {
            font-size: 12px !important;
            font-weight: 500;
            margin-top: 5px;
        }
    }
}
.header-1, .header-2 {
    margin-left: 10px;
    margin-bottom: 12px;

    .hindi-text {
        font-family: Noto Sans Devanagari;
        font-weight: 500;
    }
    span {
        font-size: 11px !important;
        margin-bottom: -17px;
    }
}
.vl {
    border-left: 2px solid black;
    height: 30px;
    margin-left: 15px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.bread-crumb {
    ol {
        padding: 8px 22px;

        li:not(.active) a {
            text-decoration: none;
            color: #328ED1;
            font-weight: 500;
        }
        li a {
            font-weight: 500;
        }
    }
}