<p-dialog header="Confirm enter captcha proceed to the know your approval" [modal]="true" [(visible)]="displayDialog"
    styleClass="captcha-dialog">
    <div class="d-flex flex-column align-items-center">
        <span>Captcha</span>
        <div>
            <canvas style="border: 1px solid; border-radius: 4px;" width="200" height="60" #myCanvas></canvas>
        </div>
        <div class="d-grid captcha">
            <input class="captcha-input" [ngClass]="{'ng-invalid ng-dirty': captchaErrorMsg}" type="text" (keyup)="resetError()" aria-describedby="error-captcha" placeholder="Enter Captcha" [(ngModel)]="userEnterCaptcha" pInputText />
            <small *ngIf="captchaErrorMsg" id="error-captcha" class="p-error block">Captcha mismatch, Please enter again.</small>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Proceed" (click)="checkCaptcha()"
            class="p-button-raised p-button-sm upload-btn"></button>
    </ng-template>
</p-dialog>
<p-toast position="bottom-center" key="submit"></p-toast>
<div class="container-fluid content">
    <div class="title">
        <h2>Know Your Approvals</h2>
        <span>Please fill the below given form to know your tentative list of Clearance and Approvals <i class="pi pi-question-circle"></i></span>
    </div>
    <div class="d-flex flex-row-reverse">
        <span class="pe-3" style="font-weight: 500;"><span style="color: #F03D3E;">*</span> Indicates mandatory
            fields</span>
    </div>
    <div class="kya-form">
        <div class="row d-flex">
            <div class="col-md-4 p-3 d-grid">
                <span>Project/Activity <span style="color: #F03D3E;">*</span> </span>
                <p-dropdown [options]="activities" [(ngModel)]="activity" (onChange)="activitySelected($event.value)"
                    placeholder="Select" optionLabel="name" styleClass="activity-dd" panelStyleClass="activity-panel">
                </p-dropdown>
            </div>
            <div class="col-md-4 p-3 d-grid" *ngIf="subActivities.length > 0">
                <span>Sub Activity <span style="color: #F03D3E;">*</span> </span>
                <p-dropdown [options]="subActivities" [(ngModel)]="subActivity" optionLabel="name" placeholder="Select"
                    styleClass="activity-dd" panelStyleClass="activity-panel" (onChange)="subActivitySelected($event.value)"></p-dropdown>
            </div>
            <div class="col-md-4 p-3 d-grid">
                <span>Project Capacity/Extent <span style="color: #F03D3E;">*</span> </span>
                <div class="p-inputgroup">
                    <input class="capacity" [ngClass]="{'ng-invalid ng-dirty': capacityError}" type="text" id="capacity-error" [(ngModel)]="capacity" pInputText />
                    <span class="p-inputgroup-addon capacity-addon" *ngIf="thresholdUnit && thresholdUnit.length==1">({{unit.threshold_unit}})</span>
                    <span class="p-inputgroup-addon capacity-addon" *ngIf="thresholdUnit.length == 0">(Unit)</span>
                    <span class="p-inputgroup-addon capacity-addon" *ngIf="thresholdUnit.length > 1">
                        <p-dropdown [options]="thresholdUnit" [(ngModel)]="unit" optionLabel="threshold_unit" placeholder="Select"
                    styleClass="unit-dd" panelStyleClass="unit-panel" (onChange)="thresholdUnitSelected($event.value)"></p-dropdown>
                    </span>
                </div>
                <!-- <small *ngIf="capacityError" id="capacity-error" class="p-error block limit-error">Your capacity input is below threshold value {{subActivity?subActivity.threshold_value:activity.threshold_value}}. Please input more than value.</small> -->
            </div>
        </div>
        <div class="row d-flex pt-3 mobile-upload">
            <div class="col-md-4 p-3 d-grid ">
                <span>Upload Project area of interest GIS Map/KML File <span style="color: #F03D3E;">*</span> </span>
                <div class="button-border d-flex" appDragNDrop (fileDropped)="onFileChoose($event)">
                    <input class="d-none" type="file" onclick="this.value = null" (change)="onFileChoose($event)" #file>
                    <button pButton pRipple type="button" (click)="file.click()" label="Choose KML"
                        class="p-button-raised p-button-sm button-color"></button>
                    <div class="upload-text">or Drop Files</div>
                </div>
            </div>
            <div class="col-md-4 upload">
                <button pButton pRipple type="button" [disabled]="checkForm()" label="Submit"
                    class="p-button-raised p-button-sm upload-btn" (click)="uploadKml()"></button>
            </div>
            <div class="error-msg" *ngIf="error">
                <p-message severity="error" text="Chosen file is not kml. Please choose the kml file to proceed">
                </p-message>
            </div>
        </div>
        <div class="row">
            <span class="note">Note: Please upload KML file only.</span>
        </div>
        <div class="chip d-inline-flex justify-content-between" *ngIf="fileObj">
            <span class="p-2">{{fileObj.name}}</span><span class="p-2">{{fileObj.size}}</span><i class="pi pi-times p-2"
                (click)="removeFile()"></i>
        </div>
    </div>
</div>